main {
  @include make-container();
  @include media-breakpoint-up(sm) {
    max-width: $container-sm;
  }

  @include media-breakpoint-up(md) {
    max-width: $container-md;
  }

  @include media-breakpoint-up(lg) {
    max-width: $container-lg;
  }

  @include media-breakpoint-up(xl) {
    max-width: $container-xl;
  }
  .timetable__block {
    @include flex-system(auto, column, center);
    margin-top: 10px;
    @include media-breakpoint-up(sm){
      margin-top: unset;
    }
  }
}

.timetable__description {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
  @include flex-system(center, auto, center);
  @include media-breakpoint-up(sm){
    position: unset;
  }
}

.timetable__content {
  padding: 5px;
  border: 1px solid #eee;
  box-shadow: 0 0 5px 0px rgba(0,0,0,0.3);
  background: #eee;
}

.dayofweek_title {
  font-size: 14px;
}

.timetable {
  //height: 70vh;
}
